/* Så att det inte blir några "tomma ytor" + samma typsnitt för alla element*/
* {
  margin: 0;
  font-family: "Josefin Slab";
}

/* Bakgrundsfärg, textfärg, stoppning, flexbox så att elementen hamnar som kolumner på en rad, wrap så att elementen fortsätter på nästa rad ifall skärmen blir för liten, skapa avstånd mellan elementen, centrera texten vertikalt*/
.header {
  background-color: #a86f32;
  color: white;
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Storlek och tjockhet på rubriken */
.header h1 {
  font-size: 3.8em;
  font-weight: normal;
}

/* Positionen för bilden relativt till headern*/
.header img {
  position: absolute;
  left: 200px;
  bottom: 15px;
}

/* Ta bort "punkterna" från listorna, gör så att länkarna ligger horisontellt, storlek på texten */
.nav {
  list-style: none;
  display: flex;
  font-size: 1.5rem;
}
/* Ta bort understrykningarna från länkarna, textfärg, förlytta dess position */
.nav a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
}

/* När man håller musen över en länk så ska den ändra färg */
.nav a:hover {
  color: black;
}

/* Bakgrundsfärg, skapa en "tjock linje" under headern och ovanför sidfoten på hemsidan, stoppning på botten */
.section {
  background-color: #d1a892;
  border-top: 5px #946a53 solid;
  border-bottom: 5px #946a53 solid;
  padding-bottom: 50px;
}

/* Textstorlek, texttjockhet, centrera texten, stoppning på toppen och botten */
.section h1 {
  color: #593f2d;
  padding: 50px 0 30px 0;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

/* Stoppning på toppen och botten, centrera texten, textstorlek och textfärg */
.section h2 {
  color: #593f2d;
  padding: 40px 0 10px 0;
  font-size: 2rem;
  text-align: center;
}

/* Stoppning på toppen och botten, avstånd mellan raderna, avstånd mellan varje ord, textstorlek, texttjockhet, textfärg, den maximala bredden på texten, centrera texten */
.section p {
  color: #2e2016;
  padding: 30px 0;
  line-height: 1.6;
  word-spacing: 3px;
  font-size: 1.3rem;
  font-weight: normal;
  max-width: 800px;
  margin: 0 auto;
}

/* En centrad bild med ram runtom*/
.section img {
  border: 0.5px solid #593f2d;
  display: block;
  margin: auto;
}

/* En liten tom block med en bakgrundsfärg */
.empty-space {
  height: 90px;
  background-color: #a86f32;
}
